.upload-box {
	width: 100%;
	max-width: 680px; /* 800 */
	text-align: center;
	margin: 0 auto;
}

.upload-box.done { /* when done with the container, hide it */
  display: none;
}

.main {
  display: none;
}

.main .show {
  display: block;
}

.center-align {
  width: 100%;
  text-align: center;
}

.results-thumbs {
  padding: 10px;
}

/*.hover-highlight {
  color: #0275d8;
}*/

.hover-highlight:hover {
  text-decoration: underline;
}

.box__dragndrop {
  font-weight: normal;
}

.box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.box__button {
	/*font-weight: 700;*/
	/*color: #e5edf1;
	background-color: #39bfd3;*/
	display: block;
	padding: 8px 16px;
	margin: 40px auto 0;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}

/* Update box depending on state of box */
.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input {
  visibility: hidden;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error
{
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;

	-webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}


.box {
  font-size: 1.25rem; /* 20 */
  background-color: #c8dadf;
  position: relative;
  padding: 100px 20px;
}
