<div class="container" role="main">
  <form class="box" method="post" action="/upload" enctype="multipart/form-data">
    <div class="box__input">
      <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
      <h4><label for="file"><strong class="hover-highlight">Choose files</strong><span class="box__dragndrop"> or drag them here.</span></label></h4>
      <button class="box__button btn btn-default" type="submit">Upload</button>
    </div>
    <div class="box__uploading"><h4>Uploading&hellip;</h4></div>
    <div class="box__success"><h4>Upload successful!</h4></div>
    <div class="box__error"><h4>Error!</h4> <span></span>.</div>
  </form>
</div>
